<IfModule mod_rewrite.c>
    Options -Indexes
    RewriteEngine On
    RewriteRule ^core(?:/|$) - [F,L,NC]
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
